html, body {
    font-family: 'Roboto', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    background: #252525;
    color: white;
}
.layout {
    display: grid;
    height: 100%;
    grid-template-columns: auto 20rem;
    flex-direction: row;
}
.right {
    background: #555555;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.controls {
    padding: 1rem;
}
.title {
    padding: 1rem;
    background: #666666;
}
h1 {
    padding: 0;
    margin: 0;
}
.canvasZone {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.content {
    display: flex;
    flex-flow: column;
    flex: 1;
}
.effects li {
    list-style: none;
}
.effects {
    margin: 0;
    padding: 2rem 0 0;
}
canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
}
.canvasZone {
    position: fixed;
    display: block;
    overflow: scroll;
    height: 100vh;
    width: calc(100vw - 20rem);
}