html, body {
    font-family: 'Roboto', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    background: #252525;
    color: white;
}
.layout {
    display: grid;
    height: 100%;
    grid-template-columns: auto 20rem;
    flex-direction: row;
}
.controls {
    background: #555555;
    height: calc(100% - 4rem);
    padding: 2rem;
}
.title {
    padding-left: 2rem;
    background: #666666;
}
h1 {
    padding: 0;
    margin: 0;
}
.canvasZone {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.content {
    display: flex;
    flex-flow: column;
}
.effects li {
    list-style: none;
}
.effects {
    margin: 0;
    padding: 2rem 0 0;
}
canvas {
    max-width: 100%;
    max-height: 100%;
}
.canvasZone {
    overflow: scroll;
}