html, body {
    font-family: 'Roboto', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    background: #252525;
    color: white;
}
* {
    padding: 0;
    border: 0;
    margin: 0;
}
h1, h2, h3 {
    margin-bottom: 0.5rem;
}
.layout {
    display: flex;
    min-height: 100%;
    flex-direction: row;
}

.right {
    background: #555555;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    resize: horizontal;
    max-width: 20rem;
}
.controls {
    padding: 1rem;
}
.title {
    padding: 1rem;
    background: #666666;
}
h1 {
    padding: 0;
    margin: 0;
}
input[type="file"] {
    display: none;
}
.effects li {
    list-style: none;
}
.effects {
    margin: 0;
    padding: 2rem 0 0;
}
canvas {
    display: block;
    margin: auto;
}

.content {
    flex: 1;
    display: grid;
    max-height: 100vh;
    overflow: auto;
    max-width: calc(100vw - 20rem);
}
button, select {
    border: none;
    background-color: #141413;
    color: white;
    padding: 0.5rem;
    margin: 0.25rem;
}
option {
    padding: 0.25rem;
}
@media screen and (max-width: 600px) {
    .layout {
        flex-direction: column;
    }
    .right {
        max-width: unset;
        flex: 1;
    }
    .content {
        max-width: unset;
    }
}

#filters {
    padding: 1rem;
}